yourdomain.com {
    tls youremail@example.com

    encode gzip

    root * /usr/share/novnc/custom
    file_server

    @vnc path /websockify*
    reverse_proxy @vnc localhost:5901 {
        transport http {
            versions h2c 1.1
        }
    }

    handle {
        try_files {path} /vnc.html
        file_server
    }
}
