yourdomain.com {
    # Caddy otomatik HTTPS alır
    tls youremail@example.com

    # Önbellek HTTP → HTTPS
    encode gzip zstd

    # Static site: parola + novnc UI
    root * /usr/share/novnc/custom
    file_server

    # WebSocket /Websockify proxy (noVNC)
    @vnc path /websockify*
    reverse_proxy @vnc localhost:5901 {
        transport http {
            versions h2c 1.1
        }
    }

    # noVNC UI fallback
    route {
        try_files {path} /vnc.html
        file_server
    }
}
