# Replace with your own domain
myvnc.my-domain.com {
    tls youremail@example.com

    encode zstd gzip

    # serve static login page
    root * /usr/share/novnc/custom
    file_server

    # forward WebSockets for noVNC
    @vnc_websock path /websockify*
    reverse_proxy @vnc_websock localhost:5901 {
        transport http {
            versions h2c 1.1
        }
    }

    # Forward everything else to static files and noVNC UI
    handle {
        try_files {path} /vnc.html
        file_server
    }
}
